.customer
{
    font-size: large;
    color: black;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    text-align: center;
    line-height: normal;
}
#customerContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.thumbnail
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   border-radius: 50%;
}